doctype html
html
  head
  body(bgcolor='gold', font-color='red')
    form(name='registration', method='post', action='/regist')
      table(border='0', width='480px', cellpadding='0', cellspacing='0', align='center')
        center
          tr
            td
              h1 Registration Form 
          center
            table(border='0', width='480px', cellpadding='0', cellspacing='0', align='center')
              tr
                td(align='center') Name:
                td
                  input(type='text', name='name')
              tr
                td  
              tr
                td(align='center') Sur Name:
                td
                  input(type='text', name='name')
              tr
                td  
              tr
                td(align='center') Date Of Birth:
                td
                  input(type='text', name='name')
              tr
                td  
              tr
                td(align='center') Address:
                td
                  input(type='text', name='name')
              tr
                td  
              tr
                td(align='center') Phone:
                td
                  input(type='text', name='name')
              tr
                td  
              tr
                td(align='center') Email:
                td
                  input(type='text', name='name')
              tr
                td  
              tr
                td(align='center') Zip:
                td
                  input(type='text', name='zip')
              tr
                td  
              table(border='0', cellpadding='0', cellspacing='0', width='480px', align='center')
                tr
                  td(align='center')
                    input(type='submit', name='REGISTER', value='register')
